body, h1, h2, ul, li{
    padding: 0px;
    margin: 0px;
}

ul{
    list-style: none;
}

*{
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #696969 20%, #fff 20%);
    font-family: "Noto Serif";
}

#app{
    padding: 0 80px;
}

header{
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    padding: 20px 0;
    margin: 0 auto;
}

.logo{
    width: 90px;
}

.carrinho_menu::after{
    content: "";
    display: inline-block;
    background: url("./assets/carrinho.svg") no-repeat center center;
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.carrinho_menu{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.modal_btn.esgotado{
    background: #808080;
}

/* Lista Produtos */

.produtos{
    max-width: 900px;
    margin: 100px auto 0 auto;
    /* cursor: pointer; */
}

.produto{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background: #fff;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
    cursor: pointer;
}

.produto_img{
    max-width: 300px;
    margin-right: 40px; 
}

.produto_title{
    font-size: 3rem;
    line-height: 1;
}

.produto_preco{
    color: gray;
}

/* Modal */

.modal::before{
    content: "";
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5)
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 80px;
}

.modal_container{
    position: relative;
    background: linear-gradient(to right, transparent 250px, white 250px);
    z-index: 1;
    display: grid;
    align-items: end;
    grid-gap: 50px;
    padding: 0px 50px 50px 0px;
    background: linear-gradient(to right, transparent 250px, #fff 250px);
    animation: fadeIn .3s forwards;
}

.modal_img{
    grid-column: 1;
    margin-top: 50px;
    box-shadow: 0px 3px 4px rgba(0,0,0,.1), 0px 4px 10px rgba(0,0,0,.3);
}

.modal_img img{
    max-width: 300px;
    display: block;
}

.modal_dados{
    max-width: 600px;
    grid-column: 2;
}

.avaliacoes{
    grid-column: 2;
}

.modal_titulo{
    font-size: 3rem;
}

.modal_btn{
    margin-top: 80px;
    background: #000;
    cursor: pointer;
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 10px 25px;
    font-family: 'Noto Serif'
}

.modal_fechar, .carrinho_fechar{
    border-radius: 50%;
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 1rem;
    box-shadow: 0px 3px 4px rgba(0,0,0,.1), 0px 4px 10px rgba(0,0,0,.3);
    cursor: pointer;
}

.modal_fechar:hover, .carrinho_fechar:hover{
    background: #000;
    color: #fff;
}

.modal_btn:active{
    background: #808080;
}

@keyframes fadeIn {
    from{
        transform: translate3d(50px, 0, 0);
    }
    to{
        transform: translate3d(0px, 0, 0);
    }
}


/* AVALIAÇÕES */
.avaliacao{
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding-bottom: 20px;
}

.avaliacao_descricao{
    color: rgba(0, 0, 0,.7);
    margin: 10px 0 5px 0;
}

.avaliacao_usuario{
    font-weight: bold;
}

/* ALERTA */

.alerta{
    position: absolute;
    top: 20px;
    left: 0px;
    z-index: 2;
    width: 100%;
    text-align: center;
    display: none;
}

.alerta.ativo{
    display: block;
}

@keyframes fadeInDown{
    from{
        transform: translate3d(0, -30px, 0);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translate3d(0, 0px, 0);
        
    }
}

.alerta_mensagem{
    background: #fff;
    display: inline-block;
    padding: 20px 40px;
    border: 2px solid black;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .2), 0px 4px 10px rgba(0, 0, 0, .2);
}

/* CARRINHO */

.carrinho_modal::before{
    content: '';
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .5)
}

.carrinho_modal{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    display: none;
}

.carrinho_modal.ativo{
    display: block;
}

.carrinho_container{
    position: relative;
    margin: 80px auto;
    background: #fff;
    padding: 40px;
    max-width: 800px;
    animation: fadeInDown .3s forwards;
}

.carrinho_item{
    display: grid;
    grid-template-columns: 1fr 1fr 50px;
    /* padding-bottom: -20px; */
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.carrinho_titulo{
    margin-bottom: 10px;
    padding-top: 20px;
    border-bottom: 2px solid #000;
    padding-bottom: 20px;
    font-family: 'Noto Serif';
}

.carrinho_remover{
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    background: 0%;
}

.carrinho_preco{
    text-align: right;
}

.carrinho_total{
    text-align: right;
    color:#32CD32	;
    padding: 10px 50px 10px 0;
    border-bottom: 2px solid #000;
}

.carrinho_finalizar{
    display: block;
    margin-left: auto;
    background: #000;
    cursor: pointer;
    color: #fff;
    border: none;
    font-family: 'Noto Serif';
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}


/* MEDIA QUERIES - RESPONSIVIDADE */

@media screen and (max-width: 900px){

    #app{
        padding: 0 10px;

    }

    .produtos{
        margin-top: 40px;
    }

    .produto{
        flex-direction: column;
        align-items: flex-start;
        max-width: 300px;   
        margin:30px;
    }

    .produto_info{
        padding: 20px;
    }

    .produto_img{
        max-width: 100%;
    }

    .produto_title{
        font-size: 2rem;
    }

    .modal{
        padding: 10px;
    }

    .modal_btn{
        margin-top: 20px;
    }

    .modal_container{
        grid-gap: 20px;
        background: #fff;
    }

    .modal_img{
        grid-row: 2;
    }

    .modal_img img{
        width: 60%;
        max-width: initial;
        /* padding: 0px auto; */
    }

    .modal_dados{
        grid-column: 1; 
        padding: 20px;
    }

    .avaliacoes{
        grid-column: 1;
    }

}
